@model PV__DS_y_RH___Proyecto_Gestor_de_Inventario.Models.Pedido

@{
    ViewData["Title"] = "Details";
}

<h1 class="mb-4">Detalles del Pedido</h1>

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Detalle del Pedido</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3 font-weight-bold">
                @Html.DisplayNameFor(model => model.FechaPedido)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FechaPedido)
            </dd>

            <dt class="col-sm-3 font-weight-bold">
                @Html.DisplayNameFor(model => model.Total)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Total)
            </dd>

            <dt class="col-sm-3 font-weight-bold">
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Estado)
            </dd>

            <dt class="col-sm-3 font-weight-bold">
                @Html.DisplayNameFor(model => model.Cliente)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Cliente.Apellido)
            </dd>
        </dl>
    </div>
    <div class="card-footer text-center">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
    </div>
</div>
