@model IEnumerable<PV__DS_y_RH___Proyecto_Gestor_de_Inventario.Models.DetallePedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrecioOriginal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioVendido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Obervacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioOriginal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioVendido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Obervacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pedido.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
